<div class="onGoingProcess" ng-show="index.isOffline">
  <div class="onGoingProcess-content" ng-style="{'background-color':'#222'}">
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
    <span translate>Reconnecting to Wallet Service...</span>
  </div>
</div>

<div class="onGoingProcess" ng-show="index.anyOnGoingProcess && !index.isOffline">
  <div class="onGoingProcess-content" ng-style="{'background-color':index.backgroundColor}">
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
    <span translate ng-show="
      index.onGoingProcessName == 'openingWallet'
      || index.onGoingProcessName == 'updatingStatus'
      || index.onGoingProcessName == 'updatingBalance'
      || index.onGoingProcessName == 'updatingPendingTxps'
      "> Updating Wallet... </span>
    <span translate ng-show="index.onGoingProcessName == 'scanning'">Scanning Wallet funds...</span>
    <span translate ng-show="index.onGoingProcessName == 'recreating'">Recreating Wallet...</span>
    <span translate ng-show="index.onGoingProcessName == 'generatingCSV'">Generating .csv file...</span>
  </div>
</div>

<div class="onGoingProcess" ng-show="home.onGoingProcess && !index.anyOnGoingProces && !index.isOffline">
  <div class="onGoingProcess-content" ng-style="{'background-color':index.backgroundColor}">
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
    {{home.onGoingProcess}}...
  </div>
</div>

<div class="onGoingProcess" ng-show="!home.onGoingProcess && index.onGoingProcessName && !index.anyOnGoingProcess && !index.isOffline">
  <div class="onGoingProcess-content" ng-style="{'background-color':index.backgroundColor}">
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
    {{index.onGoingProcessName|translate}}...
  </div>
</div>